/* src/ProductList.css
.product-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }  */
  /* .cart-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
  } 

  .cart-button:hover {
    background-color: #0056b3;
  } 

  .cart-items {
    margin-top: 20px;
  }
  
  .product-title {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .product-list {
    list-style-type: none;
    padding: 0;
  }
  
  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    background-color: #fff;
  } */
  
  /* .product-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-button:hover {
    background-color: #0056b3;
  }
   */